<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{
      static_url("css/custom.css")
    }}" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    {% block add_scripts %} {% end %}
  </head>
  <body>
    <div class="row mx-auto header">
      <a href="/">
        <button class="btn btn-outline-dark">
          What's_in_Your_Fridge?
        </button>
      </a>
      <form class="form-header" action="/menu" method="GET">
        <div class="col-1"></div>
        <div class="col">
          <div class="input-group">
            <input
              type="text"
              id="inputword"
              name="form-word"
              class="form-control"
              placeholder="&#xf002; 料理名,食材名"
            />
            <button type="submit" class="btn btn-outline-dark">
              検索
            </button>
          </div>
        </div>
      </form>
      <div class="col-2"></div>
      <div class="col">
        <div class="text-right">
          <button type="button">
            <a href="/profile"><i class="fas fa-user"></i></a>
          </button>
          <button class="btn btn-outline-dark">
            {{ user.attr["user_name"] }}
          </button>
          <a href="/signin">
            <button type="submit" class="btn btn-outline-dark">
              ログアウト
            </button>
          </a>
        </div>
      </div>
    </div>
    {% block content %} {% end %}
  </body>
</html>
