<link
href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
rel="stylesheet"
id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
  crossorigin="anonymous"
  />
</head>
<!--Coded with love by Mutiullah Samim-->
<body style="background-color:#FFF4ED">
  {% if errors %}
  <div class="alert alert-danger text-center" role="alert">
    {{errors}}
  </div>
  {% end %}
  <div class="card mx-auto" style="width:30%;margin-top:10%">
    <div class="card-header">
      <h5 class="text-center">What's in Your Fridge?</h5>
    </div>
    <div class="card-body mt-3">
      <form class="form-signup" action="/signup" method="POST">
        <span>8文字以上入力してください</span>
        <div class="input-group mb-2">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fas fa-user" style="padding:0 1px"></i>
            </span>
          </div>
          <input
          type="name"
          id="inputName"
          name="form-name"
          class="form-control form-control-first input_user"
          placeholder="UserID(username)"
          required
          />
        </div>
        <span>半角英小文字大文字数字をそれぞれ1種類以上含む<br>8文字以上入力してください</span>
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input
          type="password"
          id="input-password"
          name="form-password"
          class="form-control form-control-last input_pass"
          placeholder="Password"
          required
          />
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary">
            ユーザー登録
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    ログインしたい方は
    <a href="/signin">こちら</a>
  </div>
</body>
</html>
